.display-files {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px;
  vertical-align: top;
  white-space: nowrap;
}

.dlbox {
  border: 1px var(--wp--preset--color--cyan-bluish-gray) solid;
  padding: 10px;
  margin: 1px 0px 1px;
}

.dlbox-no-border {
  padding: 5px 10px;
  margin: 1px 0px 1px;
}

/* Mobile */
.page-nav {
  padding: 4%;
}

/* Tablet */
@media (min-width:600px) {
  .page-nav {
    padding: 3%;
  }
}

/* Desktop */
@media (min-width:900px) {
  .page-nav {
    padding: 3%;
  }
}
